body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #FFFFFF, #00d9ff 30%, #00FF00);
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: #ffffff;
  text-align: center;
  text-shadow: #d1d1d1 10px;
}
h2 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: #d1d1d1;
}
img {
  width: 10em;
  padding: 3em;
}
canvas { 
  display: block; 
}
