body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #FFFFFF, #00d9ff, #00FF00);
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: #e7e7e7;
  text-align: center;
}
h2 {
  color: #e7e7e7;
  font-weight: bold;
}